@charset "utf-8";
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.TodoItem {
  margin: 0 auto;

  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px #72a0f6;
  padding: 1rem;
  display: flex;
  align-items: center;
  font-family: "GangwonEdu_OTFBoldA";
  background: #fff;
}

.TodoItem + .TodoItem {
  margin-top: 15px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 1.5em;
  color: #72a0f6;
}
.content .text {
  margin-left: 0.5rem;
  flex: 1;
}
.content.checked .text {
  color: #6c567b;
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.6;
}
