@charset "utf-8";
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.background {
  position: fixed;
  /* position: absolute; */
  z-index: 980;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6c567b;
  opacity: 0.8;
  /* margin-right: 10vw; */
  /* left: -20vw; */
  /* top: -20vw; */
}

form {
  /* margin-left: 20%; */
  /* position: fixed; */
  position: absolute;
  top: 40%;
  left: 78%;
  transform: translateX(-78%);
  /* left: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 990;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px #72a0f6;
  background: white;
}

form > input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #72a0f6;

  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "GangwonEdu_OTFBoldA";
}

form > button {
  background: none;
  outline: none;
  border: none;
  /* color: #f67280; */
  color: #72a0f6;
  padding: 20px 1rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s background ease-in;
}

.rewirte > svg {
  padding: 20px 1rem 0;
  /* color: #f67280; */
  color: #72a0f6;
  font-size: 1.5rem;
}
@media screen and (max-width: 1000px) {
  form {
    left: 84%;
  }
}

@media screen and (max-width: 700px) {
  form {
    left: 90%;
  }
}
@media screen and (max-width: 560px) {
  form {
    left: 96%;
  }
}
@media screen and (max-width: 470px) {
  form {
    left: 100%;
  }
}
@media screen and (max-width: 400px) {
  form {
    left: 106%;
  }
}
